@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Crimson+Text&family=Lobster&display=swap');
*{
    overflow-x: hidden;
}
.site{
    background-image: linear-gradient(to right, #ffe6e6, #ffcccc);
    height: 100vh;
    width: 100%;  
}
.site h1{
    color: rgb(187,111,108);
    font-family: 'Creepster', cursive;
}
#about{
    width: 50%;
    height: 100%;
    text-align: center;
    color: rgb(187,111,108);
    font-family: 'Creepster', cursive;
    margin: auto;
    margin-top: 1em;

}
#campaigns{
    width: 100%;
    height: 100%;
    text-align: left;
    color: rgb(187,111,108);
    font-family: 'Creepster', cursive;
}
#skills{
    width: 100%;
    height: 100%;
    text-align: left;
    color: rgb(187,111,108);
    font-family: 'Creepster', cursive;
}
#brands{
    width: 100%;
    height: 100%;
    text-align: left;
    color: rgb(187,111,108);
    font-family: 'Creepster', cursive;
}



